<!-- Trending Lists -->

{% assign trending = "Batman, Superman, Deadpool, Wonder Woman, The Flash, Star Wars, Justice League, The Joker, Nightwing, Green Lantern, Suicide Squad, Harry Potter" %}

<!-- Trending Section -->
<div class="search--content">
  <h5>trending</h5>
  <ul class="search-module-content">
      {% for product_vendor in shop.vendors %}
      {% capture vendor_logo %}vendor-{{ product_vendor | handleize }}.png{% endcapture %}
    	{% if trending contains product_vendor %}
          <li class="clearfix">
            <div class="search-module-title">
              <a href="/collections/vendors?q={{ product_vendor | url_encode }}">
                  {{ product_vendor }}
              </a>
            </div>
            <div class="search-module-thumbnail">
                  <a href="collections/vendors?q={{ product_vendor | url_encode }}"><img src="{{ vendor_logo | asset_url }}" alt=""></a>
            </div>
          </li>
    	{% endif %}
      {% endfor %}
  </ul>
</div>
<!-- End Trending Section -->
