<!doctype html>
<html lang="en" class="noIE">
	<head>

	<!-- Basic page needs ================================================== -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Title and description ================================================== -->
  <title>
  {{ page_title }}{% if current_tags %}{% assign meta_tags = current_tags | join: ', ' %} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags }}{% endif %}{% if current_page != 1 %} &ndash; {{ 'general.meta.page' | t: page: current_page }}{% endif %}{% unless page_title contains shop.name %} &ndash; {{ shop.name }}{% endunless %}
  </title>

  {% if page_description %}
  <meta name="description" content="{{ page_description | escape }}">
  {% endif %}

  <!-- Helpers ================================================== -->
  {% include 'social-meta-tags' %}
  <link rel="canonical" href="{{ canonical_url }}">
  <meta name="theme-color" content="{{ settings.primary_color }}">

	{% if settings.favicon != empty %}
	<link rel="shortcut icon" href="{{ 'favicon.png' | asset_url }}" type="image/png" />
	{% endif %}
	{{ 'apps.css' | asset_url | stylesheet_tag }}
	{{ 'style.css' | asset_url | stylesheet_tag }}
	{{ 'nav.scss.css' | asset_url | stylesheet_tag }}

  {% comment %}
    NEW STYLESHEET!!!
    PLEASE PORT EVERYTHING HERE WHEN WE HAVE THE TIME
  {% endcomment %}
  {{ 'style-new.scss.css' | asset_url | stylesheet_tag }}

	{% if settings.header_font contains 'Google' %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.header_font | remove: 'Google+' }}:300,400,700,900">
	{% endif %}
	{% if settings.base_font contains 'Google' and settings.base_font != settings.header_font %}
	<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family={{ settings.base_font | remove: 'Google+' }}:300,400,700,900">
	{% endif %}

	<!-- Header hook for plugins ================================================== -->
	{{ content_for_header }}

	<!--[if lt IE 9]>
	{{ '//html5shiv.googlecode.com/svn/trunk/html5.js' | script_tag }}
	<![endif]-->

	{% if template contains 'customers' %}
	{{ 'shopify_common.js' | shopify_asset_url | script_tag }}
	{{ 'customer_area.js'  | shopify_asset_url | script_tag }}
	{% endif %}

	{{ 'jquery.js' | asset_url | script_tag }}
	{% if template == 'index' or template contains 'product' or template contains 'collection' or template contains 'search' %}
	{{ 'option_selection.js' | shopify_asset_url | script_tag }}
	{% endif %}


	<!-- Theme Global App JS ================================================== -->
  <script>
    var app = app || {
      data:{
          template:{{ template | json }},
          money_format: {{ shop.money_format | default:false | json }}
      }
    }
  </script>
      <!-- Begin Relatable -->
<style>*[data-relatable]{visibility:hidden;}*[data-relatable].rendered{visibility:visible;}</style>
<script>
  var Relatable={base_url:"https://relatable.heliumdev.com/resources/af45add7a2d14a68b26122445a19d067",
  callbacks:[],ready:function(callback){if(this.loaded){callback();}else{this.callbacks.push(callback);}}};
</script>
<script src="//cdn-relatable.heliumdev.com/js/1.0/relatable.js" async></script>
<!-- End Relatable -->

<script src="//load.sumome.com/" data-sumo-site-id="25ada13b08f97928a9b78c5b91d785ab4b6ad2502f648602efc98d756a76bc7b" async="async"></script>
<meta name="google-site-verification" content="GccrOPNrFrZVQVuQTG9YN3aA0Yj4kxC89Ky28GOtn3U" />

<!--Start of Zendesk Chat Script-->
<script type="text/javascript">
window.$zopim||(function(d,s){var z=$zopim=function(c){z._.push(c)},$=z.s=
d.createElement(s),e=d.getElementsByTagName(s)[0];z.set=function(o){z.set.
_.push(o)};z._=[];z.set._=[];$.async=!0;$.setAttribute("charset","utf-8");
$.src="//v2.zopim.com/?396hFfN2kNtEYRyKyVlbgHlDlzsBfc9p";z.t=+new Date;$.
type="text/javascript";e.parentNode.insertBefore($,e)})(document,"script");
</script>
<!--End of Zendesk Chat Script-->
 <!--Start of Yotpo Script-->
      <script type="text/javascript">
(function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/56NuY58oyXVeRkHbgfHJewxicjRxyOjeesNM85ye/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
</script>
 <!--End of Yotpo Script-->
</head>

  <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ template | replace: '.', ' ' | truncatewords: 1, '' | handle }} has-alert" >

	{% if settings.show_entry_popup %}
	{% include 'entry-popup' %}
	{% endif %}

  <div id="notice" class="alert alert-default alert-fixed alert-dismissible" role="alert">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <a href="#" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></a>
          <strong>Free Shipping + Free Returns</strong>
          &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
          All Day. Everyday.
        </div>
      </div>
    </div>
  </div>
  <script type="text/javascript">
    $('#notice').on('closed.bs.alert', function(){
      $('body').removeClass('has-alert');
    });
  </script>

	<div id="header">
		{% if settings.header_style == 'header2' %}
			{% include 'header-top-logo' %}
		{% else %}
			{% include 'header-top' %}
		{% endif %}

	  <div class="header_bot">
			<div class="container">

			  {% if settings.navigation_type == 'simple' %}
			  {% include 'main-menu-simple' %}
			  {% else %}
			  {% include 'main-menu' %}
			  {% endif %}

			</div>
	  </div>
	</div><!-- /header -->

	{{ content_for_layout }}

	{% include 'footer' %}

	{{ 'jquery.magnific-popup.min.js' | asset_url | script_tag }}

	{% if template contains 'product' or template contains 'collection' or template == 'index' or template == "search" %}
		{% if settings.cart_type == 'modal' %}
			{{ 'api.jquery.js' | asset_url | script_tag }}
			{{ 'ajaxify-shop.js' | asset_url | script_tag }}
		{% endif %}
	{% endif %}

	{% if template contains 'blog' and settings.blog_layout != 'full' %}
		{{ "masonry.pkgd.min.js" | asset_url  | script_tag }}
		{{ "imagesloaded.pkgd.min.js" | asset_url  | script_tag }}
	{% endif %}

	{% if settings.show_multiple_currencies %}
		{% include 'currencies' %}
	{% endif %}

	{% if template == 'index' %}
		{% if settings.featured_collection != blank and collections[settings.featured_collection].handle == settings.featured_collection and collections[settings.featured_collection].products_count > 0 %}
	      {{ 'jquery.owl.min.js' | asset_url | script_tag }}
    {% endif %}
  {% elsif template contains 'product' %}
  	{{ 'jquery.owl.min.js' | asset_url | script_tag }}
  {% endif %}

	{{ 'scripts.js' | asset_url | script_tag }}
  {% include 'findify-tagging' %}
</body>
</html>
